
<style>
/* Pour les logos Premium */
.logo-premium {
  max-width: 50%; 
  height: auto; 
  object-fit: contain; 
}

.supporteurs {
width: 40px;
height: 40px;
        }

.supporter-link {
    text-decoration: none; 
    color: black; /* Met le texte en noir */
    display: flex; /* Permet de centrer */
    flex-direction: column; /* Place le texte au-dessus de l'image */
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement si besoin */
    text-align: center; /* Centre le texte */
}

/* Pour les logos Mondiaux */
.logo-global {
  max-width: 50%; /* Réduit la taille maximale à 80% de la largeur de la colonne */
  height: auto; /* Maintient le ratio d'aspect */
  object-fit: contain; 
}

/* Ajustements optionnels pour espacer davantage */
.block-logos__wrapper {
  padding: 20px 0;
}

.block-logos__title {
  font-weight: bold;
  margin-bottom: 20px;
}

</style>


  <section class="container-fluid py-4">
    <div class="container">
      <h2 class="text-center pb-2 border-bottom mb-4">Partenaires Premium</h2>
      <div class="row justify-content-center">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.all.accord.com" target="_blank" title="Accord">
            <img src="{{ asset('assets/img/partenaires/pp1.png') }}" alt="Accord" class="img-fluid logo-premium">
          </a>
        </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.airbnb.fr/" target="_blank" title="Air bnb">
           <img src="{{ asset('assets/img/partenaires/pm1.png') }}" alt="Air bnb" class="img-fluid logo-premium">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.alibaba.com/" target="_blank" title="Ali Baba">
            <img src="{{ asset('assets/img/partenaires/pm2.png') }}" alt="Ali Baba" class="img-fluid logo-premium">
          </a>
        </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.allianz.fr" target="_blank" title="Allianz">
            <img src="{{ asset('assets/img/partenaires/pm3.png') }}" alt="Allianz" class="img-fluid logo-premium">
          </a>
        </div>
           <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://atos.net/fr/" target="_blank" title="Atos">
            <img src="{{ asset('assets/img/partenaires/pm4.png') }}" alt="Atos" class="img-fluid logo-premium">
          </a>
        </div>

           <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.bridgestone.fr" target="_blank" title="Bridgestone">
            <img src="{{ asset('assets/img/partenaires/pm5.png') }}" alt="Bridgestone" class="img-fluid logo-premium">
          </a>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.groupebpce.com" target="_blank" title="Groupe_BPCE">
            <img src="{{ asset('assets/img/partenaires/pp2.png') }}" alt="Groupe_BPCE" class="img-fluid logo-premium">
          </a>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.carrefour.fr" target="_blank" title="Carrefour">
            <img src="{{ asset('assets/img/partenaires/pp3.png') }}" alt="Carrefour" class="img-fluid logo-premium">
          </a>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.coca-cola.com/fr/fr" target="_blank" title="Coca-Cola">
            <img src="{{ asset('assets/img/partenaires/pm6.png') }}" alt="Coca-Cola" class="img-fluid logo-premium">
          </a>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.decathlon.com/" target="_blank" title="Decathlon">
            <img src="{{ asset('assets/img/partenaires/Decathlon2.png') }}" alt="Decathlon" class="img-fluid logo-premium">
          </a>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.deloitte.com/fr/" target="_blank" title="Deloitte">
            <img src="{{ asset('assets/img/partenaires/pm7.png') }}" alt="Deloitte" class="img-fluid logo-premium">
          </a>
        </div>


        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.edf.fr" target="_blank" title="EDF">
            <img src="{{ asset('assets/img/partenaires/pp4.png') }}" alt="EDF" class="img-fluid logo-premium">
          </a>
        </div>

              <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.intel.fr/" target="_blank" title="INTEL">
            <img src="{{ asset('assets/img/partenaires/pm8.png') }}" alt="INTEL" class="img-fluid logo-premium">
          </a>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.lvmh.com" target="_blank" title="LVMH">
            <img src="{{ asset('assets/img/partenaires/pp5.png') }}" alt="LVMH" class="img-fluid logo-premium">
          </a>
        </div>
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.omegawatches.com/fr-fr/" target="_blank" title="Omega">
            <img src="{{ asset('assets/img/partenaires/pm9.png') }}" alt="Omega" class="img-fluid logo-premium">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.orange.fr" target="_blank" title="Orange">
            <img src="{{ asset('assets/img/partenaires/pp6.png') }}" alt="Orange" class="img-fluid logo-premium">
          </a>
        </div>
              <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.panasonic.com/fr/" target="_blank" title="Panasonic">
            <img src="{{ asset('assets/img/partenaires/pm10.png') }}" alt="Panasonic" class="img-fluid logo-premium">
          </a>
        </div>  

              <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://fr.pg.com" target="_blank" title="PG">
            <img src="{{ asset('assets/img/partenaires/pm11.png') }}" alt="PG" class="img-fluid logo-premium">
          </a>
        </div> 

              <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.samsung.com/fr/" target="_blank" title="Samsung">
            <img src="{{ asset('assets/img/partenaires/pm12.png') }}" alt="Samsung" class="img-fluid logo-premium">
          </a>
        </div> 

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.sanofi.fr" target="_blank" title="Sanofi">
            <img src="{{ asset('assets/img/partenaires/sanofi.png') }}" alt="Sanofi" class="img-fluid logo-premium">
          </a>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.toyota.fr/" target="_blank" title="Toyota">
            <img src="{{ asset('assets/img/partenaires/pm13.png') }}" alt="Toyota" class="img-fluid logo-premium">
          </a>
        </div>

        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.visa.fr" target="_blank" title="Visa">
            <img src="{{ asset('assets/img/partenaires/pm14.png') }}" alt="Visa" class="img-fluid logo-premium">
          </a>
        </div>

    </div>
  </section> 

  <!-- Partenaires Mondiaux -->
  <section class="container-fluid py-4 bg-light">
    <div class="container">
      <h2 class="text-center pb-2 border-bottom mb-4">Partenaires Mondiaux</h2>
      <div class="row justify-content-center">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.pariesaeroport.fr" target="_blank" title="Groupe ADP">
           <img src="{{ asset('assets/img/partenaires/po1.png') }}" alt="Groupe ADP" class="img-fluid logo-global">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.airfrance.fr" target="_blank" title="AirFrance">
            <img src="{{ asset('assets/img/partenaires/po2.png') }}" alt="AirFrance" class="img-fluid logo-global">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.france.arcelormittal.com" target="_blank" title="Arcelor Mittal">
            <img src="{{ asset('assets/img/partenaires/po3.png') }}" alt="Arcelor Mittal" class="img-fluid logo-global">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.caissedesdepots.fr" target="_blank" title="Groupe Caisse de Dépôts">
            <img src="{{ asset('assets/img/partenaires/po4.png') }}" alt="Groupe Caisse de Dépôts" class="img-fluid logo-global">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.cisco.com" target="_blank" title="Cisco">
            <img src="{{ asset('assets/img/partenaires/po5.png') }}" alt="Cisco" class="img-fluid logo-global">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.cmagcm.com" target="_blank" title="CMAGCM">
            <img src="{{ asset('assets/img/partenaires/po6.png') }}" alt="CMAGCM" class="img-fluid logo-global">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.danone.fr" target="_blank" title="Danone">
            <img src="{{ asset('assets/img/partenaires/po7.png') }}" alt="Danone" class="img-fluid logo-global">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.gl-events.com" target="_blank" title="Gl Events">
            <img src="{{ asset('assets/img/partenaires/po10.png') }}" alt="Gl Events" class="img-fluid logo-global">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://www.iledefrance-mobilites.fr" target="_blank" title="IDF Mobilites">
            <img src="{{ asset('assets/img/partenaires/po11.png') }}" alt="IDF Mobilites" class="img-fluid logo-global">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://fr.pg.com/" target="_blank" title="PG">
            <img src="{{ asset('assets/img/partenaires/po12.png') }}" alt="PG" class="img-fluid logo-global">
          </a>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
          <a href="https://pvc.fr/" target="_blank" title="PVC">
            <img src="{{ asset('assets/img/partenaires/po13.png') }}" alt="PVC" class="img-fluid logo-global">
          </a>
        </div>
      </div>
    </div>
  </section>

<section class="container-fluid py-4">
    <div class="container">
        <h2 class="text-center pb-2 border-bottom mb-4">Supporteurs Officiels</h2>
        <div class="row justify-content-center">

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.abatable.com" target="_blank" class="supporter-link">
                        Abatable
                       <img src="{{ asset('assets/img/supporteurs/1.png') }}" alt="Abatable" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.groupe-abeo.fr" target="_blank" class="supporter-link">
                        Abeo
                        <img src="{{ asset('assets/img/supporteurs/2.webp') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.airliquide.com" target="_blank" class="supporter-link">
                        Air Liquide
                        <img src="{{ asset('assets/img/supporteurs/3.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.airweave.com" target="_blank" class="supporter-link">
                        Airweave
                        <img src="{{ asset('assets/img/supporteurs/4.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.aquatique-show.com" target="_blank" class="supporter-link">
                        Aquatique Show
                        <img src="{{ asset('assets/img/supporteurs/5.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.arenasport.com" target="_blank" class="supporter-link">
                        Arena
                         <img src="{{ asset('assets/img/supporteurs/6.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://groupe-crystal.com" target="_blank" class="supporter-link">
                        CRYSTAL
                         <img src="{{ asset('assets/img/supporteurs/7.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.doublet.fr" target="_blank" class="supporter-link"> 
                        Doublet Wasserman
                        <img src="{{ asset('assets/img/supporteurs/7a.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.dxc.com" target="_blank" class="supporter-link">
                        DXC Technology
                        <img src="{{ asset('assets/img/supporteurs/8.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.egis-group.com/fr" target="_blank" class="supporter-link">
                        Egis
                        <img src="{{ asset('assets/img/supporteurs/8a.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.enedis.fr" target="_blank" class="supporter-link">
                        Enedis
                       <img src="{{ asset('assets/img/supporteurs/9.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>
            
            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://es.global/fr/french-frontpage-2/" target="_blank" class="supporter-link">
                        ES Global
                       <img src="{{ asset('assets/img/supporteurs/9a.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://eviden.com/fr-fr/" target="_blank" class="supporter-link">
                        Eviden
                       <img src="{{ asset('assets/img/supporteurs/9b.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.fitnesspark.fr" target="_blank" class="supporter-link">
                        Fitness Park
                       <img src="{{ asset('assets/img/supporteurs/10.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.fnacdarty.com" target="_blank" class="supporter-link">
                        Fnac Darty
                        <img src="{{ asset('assets/img/supporteurs/11.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.gardengourmet.fr" target="_blank" class="supporter-link">
                        Garden Gourmet
                        <img src="{{ asset('assets/img/supporteurs/11a.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.gerflor.com" target="_blank" class="supporter-link">
                        Gerflor
                       <img src="{{ asset('assets/img/supporteurs/12.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.ratp.fr/groupe-ratp" target="_blank" class="supporter-link">
                        Groupe RATP
                       <img src="{{ asset('assets/img/supporteurs/12a.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.highfieldfrance.fr" target="_blank" class="supporter-link">
                        Highfield
                       <img src="{{ asset('assets/img/supporteurs/12b.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

 <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://hype.taxi" target="_blank" class="supporter-link">
                        Hype
                       <img src="{{ asset('assets/img/supporteurs/12c.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>
            
             <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.group-indigo.com/fr/" target="_blank" class="supporter-link">
                        Indigo
                       <img src="{{ asset('assets/img/supporteurs/12d.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.laposte.fr" target="_blank" class="supporter-link">
                        La Poste
                       <img src="{{ asset('assets/img/supporteurs/13.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

    <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.loxam.fr" target="_blank" class="supporter-link">
                        Loxam
                       <img src="{{ asset('assets/img/supporteurs/13a.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

    <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.lyreco.com/webshop/FRFR/" target="_blank" class="supporter-link">
                        Lyreco
                       <img src="{{ asset('assets/img/supporteurs/13b.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

    <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.miko.fr/" target="_blank" class="supporter-link">
                        Miko
                       <img src="{{ asset('assets/img/supporteurs/13c.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

      <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://mondoshop.com" target="_blank" class="supporter-link">
                        Mondo
                       <img src="{{ asset('assets/img/supporteurs/14.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

        <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.mtdfrance.fr" target="_blank" class="supporter-link">
                        MTD
                       <img src="{{ asset('assets/img/supporteurs/15.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

        <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.myrthapools.com/fr/" target="_blank" class="supporter-link">
                        Myrtha Pools
                       <img src="{{ asset('assets/img/supporteurs/16.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

        <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.oneplan.io/fr/" target="_blank" class="supporter-link">
                        OnePlan
                       <img src="{{ asset('assets/img/supporteurs/17.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

          <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.optic2000.com/" target="_blank" class="supporter-link">
                        Optic 2000
                       <img src="{{ asset('assets/img/supporteurs/18.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

          <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.ottobock.com/fr-fr/" target="_blank" class="supporter-link">
                        Ottobock
                       <img src="{{ asset('assets/img/supporteurs/19.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

          <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.randstad.fr/" target="_blank" class="supporter-link">
                        Randstad
                       <img src="{{ asset('assets/img/supporteurs/20.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

       <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.rapiscansystems.com/paris2024/" target="_blank" class="supporter-link">
                        Rapiscan Systems
                       <img src="{{ asset('assets/img/supporteurs/21.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

       <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://ecocup.com/fr/" target="_blank" class="supporter-link">
                        Re-uz
                       <img src="{{ asset('assets/img/supporteurs/22.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

       <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.rgsevents.com" target="_blank" class="supporter-link">
                        RGS Events
                       <img src="{{ asset('assets/img/supporteurs/23.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

          <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.saint-gobain.com/fr" target="_blank" class="supporter-link">
                        Saint Gobain
                       <img src="{{ asset('assets/img/supporteurs/24.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

          <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.salesforce.com/fr/" target="_blank" class="supporter-link">
                        Salesforce
                       <img src="{{ asset('assets/img/supporteurs/25.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

          <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.centrale-canine.fr" target="_blank" class="supporter-link">
                        SCC
                       <img src="{{ asset('assets/img/supporteurs/26.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

                  <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.schneider-electric.com" target="_blank" class="supporter-link">
                        Schneider Electric
                        <img src="{{ asset('assets/img/supporteurs/27.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

                <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.sncf-connect.com/" target="_blank" class="supporter-link">
                        SNCF
                        <img src="{{ asset('assets/img/supporteurs/28.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.sodexo.com" target="_blank" class="supporter-link">
                        Sodexo Live!
                        <img src="{{ asset('assets/img/supporteurs/29.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.sedif.com" target="_blank" class="supporter-link">
                        SEDIF
                        <img src="{{ asset('assets/img/supporteurs/30.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

          <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.technogym.com/fr-FR/" target="_blank" class="supporter-link">
                        Technogym
                        <img src="{{ asset('assets/img/supporteurs/31.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>
      
                <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.terraillon.com/fr" target="_blank" class="supporter-link">
                        Teraillon
                        <img src="{{ asset('assets/img/supporteurs/32.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

                <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.thermofisher.com/fr/fr/" target="_blank" class="supporter-link">
                        TFS
                        <img src="{{ asset('assets/img/supporteurs/33.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

        <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.beertime.fr/" target="_blank" class="supporter-link">
                        Tourtel Twist
                        <img src="{{ asset('assets/img/supporteurs/34.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

   <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.vichy.fr" target="_blank" class="supporter-link">
                        Wichy
                        <img src="{{ asset('assets/img/supporteurs/35.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>

 <div class="col-6 col-sm-4 col-md-2 mb-3">
                <div class="p-2 border rounded">
                    <a href="https://www.vinci.com" target="_blank" class="supporter-link">
                        Vinci
                        <img src="{{ asset('assets/img/supporteurs/36.png') }}" class="icon supporteurs">
                    </a>
                </div>
            </div>
        </div>

        </div>
    </div>
</section>

