{% block title %}{% endblock %}

{% block body %}

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer mt-5 py-5">
    <div class="container">
        <div class="row">

            <!-- Logos à gauche -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <a href="#" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
                    <img src="/assets/img/logosJO/doubleP24_logo.png" style="width: 200px; height: 100px;" class="ms-2" alt="Logo PO-JO"> <!-- Correction height avec px -->
                </a>
            </div>

<!-- Liste des liens au centre -->
<div class="col-lg-6 col-md-6 mb-4 mb-md-0">
    <div class="row text-center">
        <div class="col-6 mb-2">
            <a href="{{ path('conditions_generales_vente') }}" class="btn btn-outline-light w-100">Conditions Générales de Vente</a>
        </div>
        <div class="col-6 mb-2">
            <a href="{{ path('conditions_generales_utilisation') }}" class="btn btn-outline-light w-100">Conditions Générales d'Utilisation</a>
        </div>
        <div class="col-6 mb-2">
            <a href="{{ path('mentions_legales') }}" class="btn btn-outline-light w-100">Mentions Légales</a>
        </div>
        <div class="col-6 mb-2">
            <a href="{{ path('politique_confidentialite') }}" class="btn btn-outline-light w-100">Politique de confidentialité</a>
        </div>
        <div class="col-6 mb-2">
            <a href="{{ path('parametres_cookies') }}" class="btn btn-outline-light w-100">Paramètres des Cookies</a>
        </div>
        <div class="col-6 mb-2">
            <a href="{{ path('cookies_billetterie') }}" class="btn btn-outline-light w-100">Politique Cookie Billetterie</a>
        </div>
        <div class="col-6 mb-2">
            <a href="{{ path('cybersecurite') }}" class="btn btn-outline-light w-100">Cybersécurité</a>
        </div>
        <div class="col-6 mb-2">
            <a href="{{ path('centre_aide') }}" class="btn btn-outline-light w-100">Centre d’aide</a>
        </div>
    </div>
</div>


            <!-- Réseaux sociaux à droite -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div class="d-flex justify-content-center">
                 <a class="btn btn-danger btn-social me-2" href="https://www.facebook.com/Paris2024"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-danger btn-social me-2" href="https://www.instagram.com/paris2024/"><i class="fab fa-instagram"></i></a>
                     <a class="btn btn-danger btn-social me-2" href="https://x.com/Paris2024"><i class="fab fa-twitter"></i></a>
                     <a class="btn btn-danger btn-social me-2" href="https://www.tiktok.com/@paris2024officiel"><i class="fab fa-tiktok"></i></a>
                    <a class="btn btn-danger btn-social me-2" href="https://www.youtube.com/channel/UCg4W1uf-i5X1nVaeWJsKuyA"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-danger btn-social me-2" href="https://www.linkedin.com/company/paris-2024-olympic-and-paralympic-games-bid/mycompany/verification/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Copyright -->
<div class="container-fluid bg-dark text-light text-center py-3">
    <p class="mb-0">&copy; Billetterie_2024_JO |  2024 Serap DEV | All Rights Reserved</p>
</div>
<!-- Footer End -->
{% endblock %}
